<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>DBO Project</title>
        <link rel="icon" href="{{ url_for('static',filename ='assets/nficon2023.ico') }}" type="image/x-icon">

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.bunny.net">
        <link href="https://fonts.bunny.net/css?family=figtree:400,500,600&display=swap" rel="stylesheet" />

        <!-- Scripts -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
        <script src="{{ url_for('static', filename='js/app.js') }}" defer></script>
    </head>
    <body class="font-sans antialiased">
        <div class="min-h-screen bg-gray-100 dark:bg-gray-900">
            {% include 'layouts/navigation.html' %}

            <!-- Page Heading -->
            {% if header %}
            <header class="bg-white dark:bg-gray-800 shadow">
                <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
                    {{ header }}
                </div>
            </header>
            {% endif %}

            <!-- Page Content -->
            <main>
                {% block content %}{% endblock %}
            </main>
        </div>
        {% block scripts %}{% endblock %}
    </body>
</html>
