{% extends 'layouts/app.html' %}

{% block content %}
<div class="p-4 m-4 sm:p-8 bg-white dark:bg-gray-800 shadow sm:rounded-lg">
<div class="w-full">
    <header>
        <h2 class="text-lg font-medium text-gray-900 dark:text-gray-100">
            Payment Analytics
        </h2>
        <p class="mb-4 text-sm text-gray-600 dark:text-gray-400">
           Look current billing stats
        </p>
    </header>
<table class="w-full">
    <thead>
        {% for column in columns %}
            <th>{{ column }}</th>
        {% endfor %}
    </thead>
    <tbody>
        {% for row in items %}
            <tr>
                <td>{{row.user_id}}</td>
                <td>{{row.billing_date}}</td>
                <td>{{row.plan}}</td>
                <td>{{row.amount_paid}}</td>
                <td>{{row.moving_total}}</td>
            </tr>
        {% endfor %}    
    </tbody>
</table>
</div>
</div>

<div class="p-4 m-4 sm:p-8 bg-white dark:bg-gray-800 shadow sm:rounded-lg">
    <div class="w-full">
        <header>
            <h2 class="text-lg font-medium text-gray-900 dark:text-gray-100">
                Watch Analytics
            </h2>
            <p class="mb-4 text-sm text-gray-600 dark:text-gray-400">
                Look current watch stats
            </p>
        </header>
    <table class="w-full">
        <thead>
            {% for column in columns2 %}
                <th>{{ column }}</th>
            {% endfor %}
        </thead>
        <tbody>
            {% for row in items2 %}
                <tr>
                    <td>{{row.favoritegenre}}</td>
                    <td>{{row.watchcount}}</td>                   
                </tr>
            {% endfor %}    
        </tbody>
    </table>
    </div>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}
