{% extends 'layouts/app.html' %}
{% import "components/modal.html" as modal %}

{% block content %}

<header class="bg-white dark:bg-gray-800 shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
        <h2 class="font-semibold text-xl text-gray-800 dark:text-gray-200 leading-tight">
            Profile
        </h2>
    </div>
</header>


<div class="py-12">
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 space-y-6">
        <div class="p-4 sm:p-8 bg-white dark:bg-gray-800 shadow sm:rounded-lg">
            <div class="max-w-xl">
                <section>
                    <header>
                        <h2 class="text-lg font-medium text-gray-900 dark:text-gray-100">
                            Profile Information
                        </h2>

                        <p class="mt-1 text-sm text-gray-600 dark:text-gray-400">
                            Update your account's profile information and email address.
                        </p>
                    </header>

                    <form method="post" action="{{url_for('updateUser')}}" class="mt-6 space-y-6">
                        <!-- ADD CSRF HERE -->
                        {{ updateForm.hidden_tag() }}

                        <div>
                            <label class="block font-medium text-sm text-gray-700 dark:text-gray-300" for="first_name">
                                First Name
                            </label>
                            <input
                                class="border-gray-300 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300 focus:border-indigo-500 dark:focus:border-indigo-600 focus:ring-indigo-500 dark:focus:ring-indigo-600 rounded-md shadow-sm mt-1 block w-full"
                                id="first_name" name="first_name" type="text" value="{{ current_user.first_name }}"
                                required="required" autofocus="autofocus" autocomplete="first_name">
                            {% if updateForm.first_name.errors %}
                            {% for error in updateForm.first_name.errors %}
                            <ul class="text-sm text-red-600 dark:text-red-400 space-y-1 mt-2">
                                <li>{{ error }}</li>
                            </ul>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div>
                            <label class="block font-medium text-sm text-gray-700 dark:text-gray-300" for="last_name">
                                Last Name
                            </label>
                            <input
                                class="border-gray-300 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300 focus:border-indigo-500 dark:focus:border-indigo-600 focus:ring-indigo-500 dark:focus:ring-indigo-600 rounded-md shadow-sm mt-1 block w-full"
                                id="last_name" name="last_name" type="text" value="{{ current_user.last_name }}"
                                required="required" autofocus="autofocus" autocomplete="last_name">
                            {% if updateForm.last_name.errors %}
                            {% for error in updateForm.last_name.errors %}
                            <ul class="text-sm text-red-600 dark:text-red-400 space-y-1 mt-2">
                                <li>{{ error }}</li>
                            </ul>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div>
                            <label class="block font-medium text-sm text-gray-700 dark:text-gray-300" for="email">
                                Email
                            </label>
                            <input
                                class="border-gray-300 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300 focus:border-indigo-500 dark:focus:border-indigo-600 focus:ring-indigo-500 dark:focus:ring-indigo-600 rounded-md shadow-sm mt-1 block w-full"
                                id="email" name="email" type="email" value="{{ current_user.email }}"
                                required="required" autocomplete="email">
                            {% if updateForm.email.errors %}
                            {% for error in updateForm.email.errors %}
                            <ul class="text-sm text-red-600 dark:text-red-400 space-y-1 mt-2">
                                <li>{{ error }}</li>
                            </ul>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="flex items-center gap-4">
                            <button type="submit"
                                class="inline-flex items-center px-4 py-2 bg-gray-800 dark:bg-gray-200 border border-transparent rounded-md font-semibold text-xs text-white dark:text-gray-800 uppercase tracking-widest hover:bg-gray-700 dark:hover:bg-white focus:bg-gray-700 dark:focus:bg-white active:bg-gray-900 dark:active:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 dark:focus:ring-offset-gray-800 transition ease-in-out duration-150">
                                Save
                            </button>
                        </div>
                    </form>
                </section>

            </div>
        </div>

        <!-- edit password start -->
        <div class="p-4 sm:p-8 bg-white dark:bg-gray-800 shadow sm:rounded-lg">
            <div class="max-w-xl">
                <section>
                    <header>
                        <h2 class="text-lg font-medium text-gray-900 dark:text-gray-100">
                            Update Password
                        </h2>

                        <p class="mt-1 text-sm text-gray-600 dark:text-gray-400">
                            Update your password.
                        </p>
                    </header>

                    <form method="post" action="{{url_for('profile')}}" class="mt-6 space-y-6">
                        <!-- ADD CSRF HERE -->
                        {{ updatePasswordForm.hidden_tag() }}

                        <div>
                            <label class="block font-medium text-sm text-gray-700 dark:text-gray-300"
                                for="current_password">
                                Current Password
                            </label>
                            <input
                                class="border-gray-300 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300 focus:border-indigo-500 dark:focus:border-indigo-600 focus:ring-indigo-500 dark:focus:ring-indigo-600 rounded-md shadow-sm mt-1 block w-full"
                                id="current_password" name="current_password" type="password" value="" required="required"
                                autofocus="autofocus" autocomplete="current_password">
                            {% if updatePasswordForm.current_password.errors %}
                                {% for error in updatePasswordForm.current_password.errors %}
                                <ul class="text-sm text-red-600 dark:text-red-400 space-y-1 mt-2">
                                    <li>{{ error }}</li>
                                </ul>
                                {% endfor %}
                            {% endif %}

                        </div>
                        <div>
                            <label class="block font-medium text-sm text-gray-700 dark:text-gray-300"
                                for="new_password">
                                New Password
                            </label>
                            <input
                                class="border-gray-300 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300 focus:border-indigo-500 dark:focus:border-indigo-600 focus:ring-indigo-500 dark:focus:ring-indigo-600 rounded-md shadow-sm mt-1 block w-full"
                                id="new_password" name="new_password" type="password" value="" required="required"
                                autofocus="autofocus" autocomplete="new_password">
                            {% if updatePasswordForm.new_password.errors %}
                                {% for error in updatePasswordForm.new_password.errors %}
                                <ul class="text-sm text-red-600 dark:text-red-400 space-y-1 mt-2">
                                    <li>{{ error }}</li>
                                </ul>
                                {% endfor %}
                            {% endif %}

                        </div>
                        <div>
                            <label class="block font-medium text-sm text-gray-700 dark:text-gray-300"
                                for="confirm_password">
                                Confirm Password
                            </label>
                            <input
                                class="border-gray-300 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300 focus:border-indigo-500 dark:focus:border-indigo-600 focus:ring-indigo-500 dark:focus:ring-indigo-600 rounded-md shadow-sm mt-1 block w-full"
                                id="password_confirmation" name="password_confirmation" type="password" value="" required="required"
                                autofocus="autofocus" autocomplete="password_confirmation">
                            {% if updatePasswordForm.password_confirmation.errors %}
                                {% for error in updatePasswordForm.password_confirmation.errors %}
                                <ul class="text-sm text-red-600 dark:text-red-400 space-y-1 mt-2">
                                    <li>{{ error }}</li>
                                </ul>
                                {% endfor %}
                            {% endif %}

                        </div>
                        <div class="flex items-center gap-4">
                            <button type="submit"
                                class="inline-flex items-center px-4 py-2 bg-gray-800 dark:bg-gray-200 border border-transparent rounded-md font-semibold text-xs text-white dark:text-gray-800 uppercase tracking-widest hover:bg-gray-700 dark:hover:bg-white focus:bg-gray-700 dark:focus:bg-white active:bg-gray-900 dark:active:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 dark:focus:ring-offset-gray-800 transition ease-in-out duration-150">
                                Save
                            </button>
                        </div>
                    </form>
                </section>

            </div>
        </div>
        <!-- edit password ends -->


        <div class="p-4 sm:p-8 bg-white dark:bg-gray-800 shadow sm:rounded-lg">
            <div class="max-w-xl">
                <section>
                    <header>
                        <h2 class="text-lg font-medium text-gray-900 dark:text-gray-100">
                            Payment Information
                        </h2>
                    </header>
                    {% if cards %}
                    <div class="flex overflow-scroll w-100 mt-6 pointer">
                        {% for card in cards %}
                        <a href="/cardidurl">
                            <div style="width: 300px; height: 150px;"
                                class="p-4 bg-bg-gray-800 shadow border sm:rounded-lg mr-2 mb-2">
                                <span class="text-xs">CARD NUMBER</span>
                                <h1>xxxx xxxx xxxx {{ card['card_number'][7:] }}</h1>
                                <h1 class="mt-2 mr-2 text-lg">{{ card['name']}}</h1>
                                <span class="text-xs">EXPIRY</span>
                                <h1>{{card['expiry']}}</h1>
                            </div>
                        </a>
                        {% endfor %}
                        <div style="width: 100px; height:150px"
                            class="p-4 sm:p-8 bg-white dark:bg-gray-800 shadow sm:rounded-lg">
                            <button x-data="" x-on:click.prevent="$dispatch('open-modal', 'confirm-card-deletion')"
                                type="submit" class="mt-2">
                                <img height="25px" width="25px"
                                    src="{{url_for('static',filename ='assets/add-icon.svg')}}" />
                                <h1>Add Card</h1>
                            </button>
                        </div>
                    </div>
                    {% else %}
                    <p>No cards added</p>
                    <button x-data="" x-on:click.prevent="$dispatch('open-modal', 'confirm-card-deletion')"
                        type="submit" class="mt-2">
                        <img height="25px" width="25px" src="{{url_for('static',filename ='assets/add-icon.svg')}}" />
                        <h1>Add Card</h1>
                    </button>
                    {% endif %}                   
                </section>
            </div>
        </div>

        <!-- movies watched -->
        <div class="p-4 sm:p-8 bg-white dark:bg-gray-800 shadow sm:rounded-lg">
            <div class="max-w-xl">
                <section>
                    <header>
                        <h2 class="text-lg font-medium text-gray-900 dark:text-gray-100">
                            Watch Stats
                        </h2>
                    </header>
                    <div class="container">
                        <div class="row row-cols-2">
                            <div class="col-6 p-0">
                                Movies and Shows watched
                            </div>
                            <div class="col-4">
                                <h1>
                                    {{totalwatched['count']}}
                                </h1>
                            </div>
                        </div>
                        <div class="row row-cols-2">
                            <div class="col-6 p-0">
                                Movies and Shows liked
                            </div>
                            <div class="col-4">
                                <h1>
                                    {{totalliked['count']}}
                                </h1>
                            </div>
                        </div>
                        <div class="row row-cols-2">
                            <div class="col-6 p-0">
                                Screen Time
                            </div>
                            <div class="col-4">
                                <h1>
                                    {% if(totalscreen) %}
                                    {{totalscreen}}
                                    {% else %}
                                    0
                                    {% endif %}
                                </h1>
                            </div>
                        </div>
                        <div class="row row-cols-2">
                            <div class="col-6 p-0">
                               Favorite Genre
                            </div>
                            <div class="col-4">
                                <h1>
                                    {% if(favgenre) %}
                                    {{favgenre}}
                                    {% else %}
                                    0
                                    {% endif %}
                                </h1>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>

        <div class="p-4 sm:p-8 bg-white dark:bg-gray-800 shadow sm:rounded-lg">
            <div class="max-w-xl">
                <h2 class="text-lg font-medium text-gray-900 dark:text-gray-100">
                    Billing History
                </h2>
            <form method="post" action="{{url_for('billingHistory')}}" class="mt-6 space-y-6">
                <label for="month">Choose a month:</label>
                <select name="month" id="month">
                  <option value="1">JAN</option>
                  <option value="2">FEB</option>
                  <option value="3">MAR</option>
                  <option value="4">APR</option>
                  <option value="5">MAY</option>
                  <option value="6">JUN</option>
                  <option value="7">JUL</option>
                  <option value="8">AUG</option>
                  <option value="9">SEP</option>
                  <option value="10">OCT</option>
                  <option value="11">NOV</option>
                  <option value="12">DEC</option>
                </select>
                <br><br>
                <label for="year">Choose a year:</label>
                <select name="year" id="year">
                  <option value="2023">2023</option>
                  <option value="2022">2022</option>
                  <option value="2021">2021</option>
                  <option value="2020">2020</option>
                  <option value="2019">2019</option>
                  <option value="2018">2018</option>                  
                </select>
                <br><br>
                <button type="submit" class="primary bg-gray-500 p-2 rounded" style="color:white" >Submit </button>
              </form>
              </div>
        </div>

        <div class="p-4 sm:p-8 bg-white dark:bg-gray-800 shadow sm:rounded-lg">
            <div class="max-w-xl">
                <section class="space-y-6">
                    <header>
                        <h2 class="text-lg font-medium text-gray-900 dark:text-gray-100">
                            Delete Account
                        </h2>
                        <p class="mt-1 text-sm text-gray-600 dark:text-gray-400">
                            Once your account is deleted, all of its resources and data will be permanently deleted.
                            Before deleting your account, please download any data or information that you wish to
                            retain.
                        </p>
                    </header>
                    <button x-data="" x-on:click.prevent="$dispatch('open-modal', 'confirm-user-deletion')"
                        type="button"
                        class='inline-flex items-center px-4 py-2 bg-red-600 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-red-500 active:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 dark:focus:ring-offset-gray-800 transition ease-in-out duration-150'>
                        Delete Account
                    </button>
                </section>
            </div>
        </div>
        {% call modal.modal_dialog("confirm-user-deletion") %}
        <div class="p-6">
            <form method="post" action="{{url_for('deleteUser')}}" class="p-6">
                <!-- CSRF HERE -->
                {{ deleteForm.hidden_tag() }}

                <h2 class="text-lg font-medium text-gray-900 dark:text-gray-100">
                    Are you sure you want to delete your account?
                </h2>

                <p class="mt-1 text-sm text-gray-600 dark:text-gray-400">
                    'Once your account is deleted, all of its resources and data will be permanently deleted. Please
                    enter your password to confirm you would like to permanently delete your account.'
                </p>

                <div class="mt-6">
                    <label class="block font-medium text-sm text-gray-700 dark:text-gray-300 sr-only" for="password">
                        Enter Password
                    </label>
                    <input
                        class="border-gray-300 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300 focus:border-indigo-500 dark:focus:border-indigo-600 focus:ring-indigo-500 dark:focus:ring-indigo-600 rounded-md shadow-sm mt-1 block w-full mt-1 block w-3/4"
                        id="password" name="password" type="password" required="required" autofocus="autofocus"
                        placeholder="Password">
                </div>

                <div class="mt-6 flex justify-end">
                    <button x-on:click="$dispatch('close')" type="button"
                        class='inline-flex items-center px-4 py-2 bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-500 rounded-md font-semibold text-xs text-gray-700 dark:text-gray-300 uppercase tracking-widest shadow-sm hover:bg-gray-50 dark:hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 dark:focus:ring-offset-gray-800 disabled:opacity-25 transition ease-in-out duration-150'>
                        Cancel
                    </button>
                    <button
                        class='ml-3 inline-flex items-center px-4 py-2 bg-red-600 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-red-500 active:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 dark:focus:ring-offset-gray-800 transition ease-in-out duration-150'>
                        Delete Account
                    </button>
                </div>
            </form>
        </div>
        {% endcall %}

        {% call modal.modal_dialog("confirm-card-deletion") %}
        <div class="p-8">
            <h1>Add Card</h1>
            <section>
                <form method="post" action="{{url_for('addCard')}}" class="mt-6 space-y-6">
                    {{ cardForm.hidden_tag() }}
                    <div>
                        <label class="block font-medium text-sm text-gray-700 dark:text-gray-300" for="name">
                            Card Holder Name
                        </label>
                        <input
                            class="border-gray-300 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300 focus:border-indigo-500 dark:focus:border-indigo-600 focus:ring-indigo-500 dark:focus:ring-indigo-600 rounded-md shadow-sm mt-1 block w-full"
                            id="name" name="name" type="name" required="required">
                    </div>
                    <div>
                        <label class="block font-medium text-sm text-gray-700 dark:text-gray-300" for="number">
                            Card Number
                        </label>
                        <input
                            class="border-gray-300 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300 focus:border-indigo-500 dark:focus:border-indigo-600 focus:ring-indigo-500 dark:focus:ring-indigo-600 rounded-md shadow-sm mt-1 block w-full"
                            id="number" name="number" type="tel" inputmode="numeric" pattern="[0-9\s]{13,19}"
                            required="required">
                    </div>
                    <div class="flex">
                        <div class="block w-6/12">
                            <label class="block font-medium text-sm text-gray-700 dark:text-gray-300" for="cvv">
                                Card CVV
                            </label>
                            <input
                                class="border-gray-300 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300 focus:border-indigo-500 dark:focus:border-indigo-600 focus:ring-indigo-500 dark:focus:ring-indigo-600 rounded-md shadow-sm mt-1 block w-6/12"
                                id="cvv" name="cvv" type="cvv" required="required">
                        </div>
                        <div class="block w-6/12">
                            <label class="block font-medium text-sm text-gray-700 dark:text-gray-300" for="expiry">
                                Card expiry
                            </label>
                            <input
                                class="border-gray-300 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300 focus:border-indigo-500 dark:focus:border-indigo-600 focus:ring-indigo-500 dark:focus:ring-indigo-600 rounded-md shadow-sm mt-1 block w-6/12"
                                id="expiry" name="expiry" pa="pa" type="date" required="required">
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="p-2 bg-green-600 text-white rounded">Save Changes</button>
                    </div>
                </form>
            </section>
        </div>
        {% endcall %}

    </div>
</div>


{% endblock %}